<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fea1ea">  <td>22/03/30 09:25:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.C01()[pri:0, instance:Login.LoginTest@b62d79]">C01</td> 
  <td>main@1623009085</td>   <td></td> </tr>
<tr bgcolor="7bbcae">  <td>22/03/30 09:25:21</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:Login.LoginTest@b62d79]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1623009085</td>   <td></td> </tr>
<tr bgcolor="7bbcae">  <td>22/03/30 09:25:19</td>   <td>-1923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:Login.LoginTest@b62d79]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1623009085</td>   <td></td> </tr>
</table>
